$primary-color: #6d5d6e;
$secondary-color: #393646;
$text-color: #f4eee0;
$light-color: #f4eee0;
$accent-color: #c06c84;
$dark-accent: #6c5b7b;
$gradient: linear-gradient(135deg, $accent-color, $dark-accent);

.filter-btn {
    padding: 12px 28px;
    background: none;
    border: 2px solid $primary-color;
    border-radius: 50px;
    color: $light-color;
    cursor: pointer;
    transition: all 0.4s;
    font-weight: 500;
    font-size: 16px;
    background-color: rgba(57, 54, 70, 0.5);

    &.active, &:hover {
        color: white;
        transform: translateY(-3px);
        box-shadow: 0 8px 20px rgba(192, 108, 132, 0.4);
        border-color: transparent;
        background: $gradient;
    }
}